  @page {
    size: letter;
    margin-left: 4cm;
    margin-right: 4cm;
    margin-top: 3cm;
    margin-bottom: 3cm;
    bleed: 6mm;
  }

  @page:right {
    @top-center {
    letter-spacing: 5px;
    content: string(titre);
    opacity: 0.7;
    }

    @bottom-center {
      content: counter(page);
      opacity: 0.7;
    }
  }

  @page:left {
    @top-center {
    letter-spacing: 5px;
    content: string(author);
    opacity: 0.7;
    }

    @bottom-center {
      content: counter(page);
      opacity: 0.7;
    }
  }

  @page:first{
    @top-center{
         content: none;
     }
     @bottom-center{
         content: none;
     }
  }

@media print {
	body {
    color: red;
    font-size: 0.875em;
    font-family: eb garamond,Garamond,times new roman,serif;
	}

  p, li {
  	line-height: 1.75em;
  }
  
  img {
    // position: absolute;
    bottom: 0;
    width: 60%;
    height: auto;
    // margin-left: 170px;
  }
  
  #titre {
    string-set: titre content(text);
  }

  #author {
    string-set: author content(text);
  }

  #marques {
    string-set: marques content(text);
  }
  
  h1 {
    font-size: 0.75em;
    margin-bottom: 0.5em;
    opacity: 0.7;
    text-align: center;
  }

  .couverture h1 {
    font-size: 4em;
    opacity: 1;
  }

  h2.subtitle {
    margin-top: 1em;
    font-size: 1.25em;
    text-align: center;
  }
	h2 {
		font-size: 1.5em;
  }
  
  .couverture h2 {
    font-size: 3em;
    text-align: center;
    opacity: 0.8;
  }
  
  .chapitre h2, .chapitre h3 {
    text-align: center;
  }

  h3 {
    font-size: 2em;
    margin-top: .75em;
    text-align: center;
  }
  .couverture h3 {
    font-size: 1.5em;
  }
  .couverture h4 {
    margin-top: 5em;
    text-align: center;
    font-weight: 400;
  }
  .edition::before {
    border: 0;
    display: block;
    width: 152px;
    height: 12px;
    margin: .5em auto 0;
    background: url(/images/divider.svg) no-repeat top center;
  }
  .couverture h4::after {
    content: "";
  }
  p {
    font-size: 1.25em;
    widows: 3;
    orphans: 3;
    margin-top: 0;
    word-spacing: 0.3px;
  }


  section {
    page-break-after: always;
  }

  blockquote, blockquote p {
    text-align: left;
  }

  .toc ul li a::after{
    content: target-counter(attr(href url), page);
    float: right;
    color: rgb(0, 0, 0);
    font-size: 1em;
  }

  .toc li {
    list-style: none;
  }
  .toc ul {
    margin-left: 0;
    padding-left: 0;
  }
  .toc li a {
    text-decoration: none;
    color: inherit;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .couverture img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .hash {
    display: none;
  }

  .video {
    display: none;
  }

  .titre-media {
    display: none;
  }

  .titre-media-imp {
    text-indent: 0;
    a, a:hover {
      color: inherit;
    }
  }

  .sans-couverture {
    margin-top: 20em;
  }

  audio {
    display: none;
  }

  .audio {
    text-indent: 0;
    display: block;
    font-style: italic;
  }

  .footnote-return {
    display: none;
  }

  sup.footnote-ref {
    font-size: 0.8em;
    line-height: 0;
  }

  .footnote-ref a {
    color: inherit;
    text-decoration: none;
  }

}
